.container {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.card {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  z-index: 1000;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.property {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.propertyField {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-color: black;
}

.propertyField:focus {
  border-color: gray;
}

.propertyText {
  color: black;
}

.button {
  cursor: pointer;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: black;
  color:white;
  font-weight: 700;
  font-size: 14px;
  margin-top: 20px;
}