.button {
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: black;
  margin-top: 20px;
  border: none;
}

.buttonDelete {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  margin-top: 0px;
}

.buttonText {
  color: white;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 620px;
}