.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.button {
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: black;
  margin-top: 20px;
}

.buttonText {
  color: white;
  font-weight: 700;
  font-size: 14px;
}