.container {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.card {
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 500px;
  position: relative;
  margin: 0 auto;
  width: 500px;
  z-index: 1000;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 100;
}